<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} | DataZone</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

{% block body_outer %}
    <body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="" class="site_title"><i class="fa fa-cloud"></i> <span>DataZone</span></a>
                    </div>
                    <br>
                    <div class="clearfix"></div>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <ul class="nav side-menu">
                                    {{ include('cruds.html.twig') }}
                                </ul>
                            </div>

                        </div>
                        <!-- /sidebar menu -->

                        <!-- /menu footer buttons -->
                        <div class="sidebar-footer hidden-small">
                            <a data-toggle="tooltip" data-placement="top" title="Settings">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Lock">
                                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Logout"
                               href="">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        </div>
                        <!-- /menu footer buttons -->
                    {% endif %}
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li>
                                    <a href="javascript:" class="user-profile dropdown-toggle" data-toggle="dropdown"
                                       aria-expanded="false">
                                        <i class="fa fa-user"></i>&nbsp;{{ app.user.email }}
                                        <span class="fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li><a href=""><i
                                                        class="fa fa-sign-out pull-right"></i> {{ "Odhlásit se"|trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><a>{{ "Nepřihlášen"|trans }}</a></li>
                            {% endif %}

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div style="margin-top: 60px;">
                    {% for type, messages in app.flashes %}
                        <div class="alert alert-{{ type }} alert-dismissable mt-5" role="alert">
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-label="{{ "Zavřít"|trans }}">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {% if messages|length > 1 %}
                                <ul style="margin-bottom: 0;">
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {{ messages[0] }}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <ol class="breadcrumb">
                        {% block breadcrumb %}
                            <li><a href="">DataZone</a></li>
                        {% endblock %}
                    </ol>
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>


    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
{% endblock %}
</html>